footer {
    background-color: rgb(29,29,31);
    color: #fff;
    height: 300px;
    text-align: center;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../media/pattern_footer.png);
}

.footer_sns{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    padding-bottom: 20px;
}

.footer_item>img{
    width: 70px;
}

.footer_item:hover{
    filter: brightness(50%)
}

@media screen and (max-width:750px) {
    footer{
        height: 200px;
    }
    .footer_item>img{
        width: 40px;
    }
}
