footer {
    background-color: var(--key-gray);
    color: #fff;
    height: 80px;
    text-align: center;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../media/pattern_footer.png);
    font-size:16px;
    padding: 40px 0;
}

.footer-sns{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    padding-bottom: 20px;
}

.footer-item{
    transition: all 0.3s;
}

.footer-item>img{
    width: 50px;
}

.footer-item:hover{
    filter: brightness(50%)
}
