footer{
    width: 100%;
    background-color: rgb(29,29,31);
    color: #fff;
    text-align: center;
    padding: clamp(2.5rem, calc(2.3rem + 0.625vw), 3rem) 0;
    font-size: clamp(2.5rem, calc(2.3rem + 0.625vw), 3rem);

    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}