/* コンテンツ画面 */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 88px;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Noto Sans JP", sans-serif;
}
body{
  background-color: #fff;
  margin: 0%;
  padding: 0%;
  font-size: clamp(1rem, 0.977rem + 0.11vw, 1.063rem);
}

.header h1{
  font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
}

h2{
  padding: 0;
  margin: 0;
}

section {
  margin: 46px 0
}

.header{
  margin: 0;
  padding: 0 40px;
  text-align: left;
}

main{
  margin: 0 4vw;
}

ul, ol {
  padding: 0;
}

ul{
  display: flex;
  flex-wrap: wrap;
  gap:10%;
}

.ingredient {
  position: relative;
  list-style-type: none!important;/*ポチ消す*/
  width: 45%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 5px;
  line-height: 1.5;
  background: var(--key-gray);
  background-image: url(../media/pattern_list.png);
  vertical-align: middle;
  color: #fff;
  border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
}

.ingredient:before{ 
  display:inline-block; 
  vertical-align: middle;
  /*以下白丸つくる*/
  content:'';
  width:1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
  top: calc(1.5em / 2);
  transform: translateY(-50%) translateY(6px);
}

.amount{
  position:absolute;
  right: 0;
  top:50%;
  transform: translateY(-50%);
  padding-right:20px;
}

.instruct{
  font-size:clamp(1.25rem, 1.182rem + 0.34vw, 1.438rem);
  font-weight: bold;
}
.explain{
  padding-top:20px;
}
.instruct-wrapper{
  padding-bottom:30px;
}


.album-flex {
  display: flex;
  flex-wrap: wrap; /* 画面幅に合わせて折り返す */
  justify-content: flex-start; /* 左寄せで配置 */
}

.box {
  width: 18%;
  aspect-ratio: 1 / 1;
  margin: 1%; /* 画像間の余白 */
  overflow: hidden; /* 画像がボックスからはみ出さないようにする */
}

.album-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像をボックスに合わせて切り抜く */
}

.album-item:hover{
  opacity:0.5;
  transition:0.3s;
}

.box-outline {
  position: relative;
  margin: 2em 0;
  padding: 1.5em 1em;
  border: solid 3px var(--key-gray);
  border-radius: 8px;
}
.box-outline .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: clamp(1.25rem, 1.182rem + 0.34vw, 1.438rem);
  background: #fff;
  color: var(--key-gray);
  font-weight: bold;
}

ol{
  counter-reset: instruct-counter;
  list-style: none;
  padding: 0;
  margin: 0;
}
.instruct {
  line-height: 1.5;
  padding-left: 35px;
  position: relative;
}
.instruct:before {
  content: counter(instruct-counter);
  counter-increment: instruct-counter;
  background-color: var(--key-gray);
  border: 1px solid;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  color: var(--key-gray);
  font-size: 85%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}

@media screen and (max-width:750px) {
    .ingredient{
      width:100%;
    }
    .box {
        position: relative;
        width: 31%; /* 画像のサイズに合わせて調整 */
        margin: 1%; /* 画像間の余白 */
    }

}
